<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DBNotarialOfficeConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=NotarialOfficeCustemers.mdf;Integrated Security=True;User ID=DESKTOP-92LJ1R0\Yurij Mo" 
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
